@import 'https://fonts.googleapis.com/css?family=Quicksand:300';

body {
	height: 100vh;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	background: #033c46; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#033c46,
		#ec59d4
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#033c46,
		#ec59d4
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
